:root {
  --inactive: rgb(200, 200, 200);
  --active: rgb(100, 200, 100);
  --error: rgb(200, 50, 50);
}

.stdout,
.stderr,
.error {
  border: 1px solid var(--active);
  border-radius: 0.8rem;
  padding: 1rem 2rem;
  margin: 0.5rem 0;

  &::before {
    content: "stdout:";
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    position: relative;
    left: -1rem;
  }
}

.stderr,
.error {
  border-color: var(--error);

  &::before {
    content: "stderr:";
  }
}

.error {
  &::before {
    content: "error:";
  }
}
