<form class="container" (submit)="executeCmd()">
  <input type="text" class="cmd" [(ngModel)]="cmd" name="cmd" />
  <button type="submit" class="execute-btn">execute</button>
  <div class="result" *ngIf="result">
    <pre class="error" *ngIf="result.error">{{result.error}}</pre>
    <pre class="stdout" *ngIf="result.stdout">{{result.stdout}}</pre>
    <pre class="stderr" *ngIf="result.stderr">{{result.stderr}}</pre>
  </div>
</form>