.container {
  display: grid;
  grid-template-columns: minmax(20rem, 3fr) minmax(10rem, 1fr);
  grid-template-rows: 2rem minmax(10rem, 1fr);
  grid-gap: 1rem;
  grid-template-areas:
    "cmd execute"
    "result result";
}

.cmd {
  grid-area: cmd;
  border: 1px solid var(--inactive);
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
  transition: border-color 600ms;
  outline: none;

  &:hover {
    border-color: var(--active);
  }

  &:focus {
    border-color: var(--active);
  }
}

.execute-btn {
  grid-area: execute;
  border: none;
  border-radius: 0.8rem;
  background-color: var(--inactive);
  transition: background-color 600ms;
  outline: none;

  &:hover {
    background-color: var(--active);
  }
}

.result {
  grid-area: result;
}
