.history-entry {
  border: 1px solid var(--inactive);
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
  position: relative;
  transition: border-color 600ms;
  margin: 0.5rem 0;

  &:hover {
    border-color: var(--active);

    .hover {
      display: block;
      width: 40rem;
      position: absolute;
      background-color: white;
      left: -41rem;
      border-radius: 0.8rem;
      z-index: 50;
    }
  }
}

.hover {
  display: none;
}
