<div class="history" *ngIf="entries$">
  last 10 commands:
  <div class="history-entry" *ngFor="let entry of entries$ | async">
    <div class="cmd">{{entry.cmd}}</div>
    <div class="hover">
      <div class="error" *ngIf="entry.error">{{entry.error}}</div>
      <div class="stdout" *ngIf="entry.stdout">{{entry.stdout}}</div>
      <div class="stderr" *ngIf="entry.stderr">{{entry.stderr}}</div>
    </div>
  </div>
</div>